:root {
    --bg: #191919;
    --b:#2D2D2D;
    --boxbg: #CFCFCF;
    --wh: #FBFBFB;
    --red: #D24444;
    --strich: #707070;
    --shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    --gradiant: linear-gradient(148deg, #2D2D2D 10%, #C22222 90%);
    --boxgradient: linear-gradient(to right, #7950F2, #f53b3b);
    --p-b: #111111;
    --p-hb: rgba(39, 39, 39, 0.192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #1e2428;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.loginbackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.main {
    padding: 20px;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #455a64;
    scale: 1.05;
}

button:active {
    background: #35424a;
    transform: translateY(2px);
}

.loginspacer {
    height: 150px;
    display: inline-block;
}

.indexbackground {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    padding-top: 0vh;
    height: 100vh; 
    overflow-y: hidden;
}
.rightcontent {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.questmapbackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250vh;
    margin: 0;
}

.titleunderline {
    border-bottom: 2px solid var(--red);
  }
  
  .underline-small {
    width: 250px;
  }
  
  .underline-large {
    width: 400px;
  }
  
  .grid-container {
    display: flex;
    justify-content: space-between; /* Verteilt die Container gleichmäßig mit Platz dazwischen */
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px; 
  }
  
  .small {
    flex-basis: 45%; /* Basisgröße der Container */
    flex-grow: 1; /* Erlaubt den Containern, sich bei zusätzlichem Inhalt zu dehnen */
    max-width: 30%;
    min-width: 100px; /* Mindestbreite der Container */
  }
  
  .grid-item {
    position: relative;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);;
    border-radius: 5px;
    overflow: hidden; 
  }
  
  .content {
    padding: 10px;
  }
  
  .grid-item-h1 {
    font-size: 2rem;
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  .title-container {
    display: flex;
    justify-content: space-between
  }
  
  h3 {
    font-size: 3rem;
    color: var(--b);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin-left: 20px; 
  }